:root {
  --main-color: #00e1ff;
  --bg-dark: #252726;
  --text-shade: #929ba0;
  --h3-color: #3f4244;
}

header.header {
  height: 80px;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
}

header ul li {
  padding: 3rem 0;
}
nav ul li.active {
  color: var(--main-color);
}
nav ul li.active a {
  color: var(--main-color);
}
/* End of Header  */

section.hero {
  height: calc(100vh - 80px);
  position: relative;
  background-color: var(--bg-dark);
}
section.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.2;
  display: block;
}
section.hero .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
section.hero h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 100;
}
button.cta-btn {
  transition: all 0.5s ease;
}
button.cta-btn:hover {
  border-color: var(--main-color);
  background-color: var(--main-color);
}

/*   End of Hero sectoin   */

section.services {
  margin: 4rem auto;
  padding: 2rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.icon {
  font-size: 5.6rem;
  color: var(--main-color);
  width: 5.6rem;
  height: 5.6rem;
}
section .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
  flex-basis: calc(25% - 8rem);
}

section.services h3 {
  font-size: 2rem;
  position: relative;
}

section.services h3::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  width: 80%;
  background-color: var(--main-color);
}
section .service p {
  font-size: 1.6rem;
  color: var(--text-shade);
  text-align: center;
}
/*   End of services   */

section.fully-responsive {
  background-color: #f7f7f7;
  padding: 4rem;
  height: 50vh;
}
section.fully-responsive .options {
  display: flex;
  justify-content: center;
  max-width: 70rem;
  margin: auto;
}
section.fully-responsive .option {
  flex-grow: 1;
  padding: 1rem;
  color: var(--h3-color);
  background-color: #f7f7f7;
  border: 1px solid var(--text-shade);
  position: relative;
  display: block;
}
section.fully-responsive .active::after {
  content: "";
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  /* transform: translate(-50%, 50%); */
  rotate: 45deg;
  /* z-index: -1; */
}
/* End of fully responsive */
section.modern-design {
  position: relative;
  background-color: var(--bg-dark);
  padding: 1rem;
}
section.modern-design > img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
section.modern-design header {
  margin: auto;
  text-align: center;
  color: #fff;
}
section.modern-design header h2 {
  font-size: 4rem;
  font-weight: 200;
  margin: 3rem auto;
  position: relative;
}
section.modern-design header h2::after {
  content: "";
  width: 12rem;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
section.modern-design header p {
  font-size: 1.6rem;
  max-width: 80rem;
  margin: 4rem auto;
}
section.modern-design .container img {
  width: 80%;
  margin: 0 auto;
}
